.container {
    max-width: 90%;
    margin: auto;
    padding: 10px;
    background-color: aliceblue;
    border-radius: 10px;
  }
  .topic-card {
    position: relative;
    overflow: hidden;
    background-color: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Add shine effect */
  .topic-card:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%; /* Start the shine effect from the left */
    width: 200%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(192, 192, 192, 0.8), rgba(255, 255, 255, 0)); /* Gradient for shine effect */
    animation: shine 1.5s infinite; /* Animation for shine effect */
  }
  
  @keyframes shine {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  
  .checkbox {
    margin: 8px;
  }
  